aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorama
decorator
distro
dnspython
email_validator
fastapi==0.105.0
fastapi-cli
frozenlist
greenlet
h11
httpcore
httptools
httpx
idna
imageio
imageio-ffmpeg
Jinja2
jsonpatch
jsonpointer
langchain
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
mdurl
moviepy==1.0.3
multidict
numpy
openai
orjson
packaging
pandas
pillow
proglog
pydantic
pydantic_core
Pygments
PyPDF2
python-dateutil
python-dotenv
python-multipart
pytube
pytz
PyYAML
requests
rich
shellingham
six
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
starlette
tenacity
tqdm
typer
typing_extensions
tzdata
ujson
urllib3
uvicorn
watchfiles
websockets
yarl
pycryptodome
google-genai